:root {
  --color-background: #ac8295;
  --container-background: #ebcfc4;
  --toolbar-bg: #4d243d;
  --shadow: 1px 1px 10px 3px rgba(77, 36, 61, 0.8);
  --default-border: 2px solid black;
}

body {
  background-color: var(--color-background);
  color: black;
}

.tool-bar {
  position: relative;
  background-color: var(--toolbar-bg);
  padding: 2px;
  color: white;
}

.tool-bar i {
  position: absolute;
  right: 0px;
}
.tool-bar i:hover {
  background-color: red;
}

.maximized {
  margin-left: 2%;
  margin-right: 2%;
  height: 95vh;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--container-background);
  border: var(--default-border);
}

#editor {
  border: none;
  background-color: var(--container-background);
}

.maximized #editor {
  height: 100%;
  width: 100%;
}

.maximized #preview {
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.editor-container {
  margin-left: 15%;
  margin-right: 15%;
  height: 25vh;
  margin-top: 15px;
  margin-bottom: 5px;
  border: var(--default-border);
  box-shadow: var(--shadow);
}

.editor-container #editor {
  height: 86%;
  background-color: var(--container-background);
  width: 100%;
}

.previewer-container {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 15px;
  margin-bottom: 5px;
  height: fit-content;
  border: var(--default-border);
  box-shadow: var(--shadow);
  background-color: var(--container-background);
}
